{% extends 'blog/base.html' %}

{% block content %}
    <style>
        /* Custom CSS for post list page */
        .post {
            font-size: 18px; /* Adjust the font size as needed */
        }
    </style>

    {% for post in posts %}
        <article class="post">
            <time class="date">
                {{ post.published_date }}
            </time>
            <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
            <p>{{ post.text|linebreaksbr }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
        </article>
    {% endfor %}

    <a href="{% url 'notification_list' %}">Notifications</a>
{% endblock %}
